<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
      <a routerLink="/" href="#" class="w3-bar-item w3-button">Gourmet au Catering</a>
      <!-- Right-sided navbar links. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a routerLink="/" routerLinkActive= "active" href="#" class="w3-bar-item w3-button">{{menu.home}}</a>
        <a routerLink="/services" href="#" class="w3-bar-item w3-button">{{menu.services}}</a>
        <a routerLink="/contact" href="#" class="w3-bar-item w3-button">{{menu.contact}}</a>
        <a routerLink="/investors" href="#" class="w3-bar-item w3-button">{{menu.investors}}</a>
      </div>
    </div>
  </div>