<div class="w3-container">

  <div class="w3-container w3-padding-64 w3-center" id="portfolio">
    <h2 class="w3-text-grey">Investors</h2>
    <p class="w3-opacity w3-text-grey">Here are some of my latest projects. Click on the images to view more details.</p>
  </div>

  <div class="w3-row-padding w3-padding-32">
    <div class="w3-third">
      <img src="assets/img_avatar.png" alt="Investor 1" style="width:100%" class="w3-hover-opacity">
      <h3>Investor 1</h3>
      <p>John Doe</p>
    </div>
    <div class="w3-third">
      <img src="assets/img_avatar.png" alt="Investor 2" style="width:100%" class="w3-hover-opacity">
      <h3>Investor 2</h3>
      <p>John Doe</p>
    </div>
    <div class="w3-third">
      <img src="assets/img_avatar.png" alt="Investor 3" style="width:100%" class="w3-hover-opacity">
      <h3>Investor 3</h3>
      <p>John Doe</p>
    </div>
  </div>
</div>